body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(176, 170, 255);
}

.dark {
  background-color: rgb(129, 129, 129);
  height: 50px;
  width: 50px;
}

.light {
  background-color: rgb(199, 199, 199);
  height: 50px;
  width: 50px;
}
